* {
    background-color: #9cdbca;
}
.container-fluid {
    background-color: #9cdbca;
}

h2 {
    text-align: center;
}
.card-body {
text-align: center;
justify-self: center;
right: 40%;
background-color: #b4d9ca;
}

.footer {
position: fixed;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #9cdbca;
        margin: 15px;
        font-size: 10px;
    }